<?xml version="1.0" encoding="utf-8"?>
<resources>
    <!-- Center punch-hole. Origin = center top of 1080x2400. r=32px, cy=52px (moved down 10px). -->
    <string translatable="false" name="config_mainBuiltInDisplayCutout">M -32,52 a 32,32 0 1 0 64,0 a 32,32 0 1 0 -64,0 Z</string>
    <string translatable="false" name="config_mainBuiltInDisplayCutoutRectApproximation">M -40,0 L 40,0 L 40,84 L -40,84 Z</string>
    <bool name="config_fillMainBuiltInDisplayCutout">true</bool>
    <dimen name="status_bar_height_portrait">84px</dimen>
    <dimen name="status_bar_height_landscape">28dp</dimen>
</resources>
